<div class="login-container">
  <div class="login-box shadow-lg p-5 rounded">
    <h2 class="text-center mb-4">Login</h2>

    <form (submit)="login()">
      <div class="form-group mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="text" class="form-control" [(ngModel)]="email" name="email" placeholder="Enter your email">
      </div>

      <div class="form-group mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Enter your password">
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary w-100">Login</button>
      </div>

      <p class="text-danger mt-3 text-center" *ngIf="loginError">Invalid email or password</p>
    </form>
  </div>
</div>
